*{
    margin:0;
    padding:0;
}
.inter{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/*common styles*/
.display-flex{
    display:flex;
}
.background-color{
    max-width:1400px;
    width:100%;
    margin:0 auto;
    background-color:#ffffff;
}

/*navbar related style*/
.navbar{
    gap:550px;
    margin-top:40px;
    margin-bottom:30px;
    width:100%;

}
#brand-name{
    font-size:1.5rem;
    font-weight:600;
    margin-left:50px;
    
}
.list-box{
   gap:30px;
}
.list-item{
    list-style:none;
   text-decoration: none;
   
}
.list-item a{
    text-decoration: none;
    font-weight:400;
   font-size:16px;
   color:#3A3A3A;
}
.list-box .list-img{
    height:10px;
    width:10px;
    cursor: pointer;
 
}

/*hero-section related styles*/
.hero-section{
    justify-content:center;
    align-items: center;
    gap:50px;
}
.hero-description h1{
    font-size:3rem;
    font-weight:700;
    line-height:50px;
    color:#3A3A3A;
    margin-bottom:30px;

}
.hero-description p{
    font-size:1.3rem;
    font-weight:700;
    line-height:30px;
    color:#3A3A3A;
    margin-bottom:30px;

}
.btn-primary{
    background-color:#E02C6D;
    color:#ffffff;
    font-size:1.2rem;
    width:200px;
    height:40px;
    border:none;
    border-radius:20px;
   

}
.btn-primary img{
   height:20px;
   width:20px;
}
.hero-img{
    position: relative;
    
}
.circle{
    width:400px;
    height:400px;
   
}
.camera-main{
    width:350px;
    height:350px;
    position:absolute;
    transform: translate(8%, 9.5%);
    
}
/*sponsor section related styles*/

.sponsor-box{
    margin:50px auto;
    padding:10px 0;
    height:60px;
    width:1000px;
    display:grid;
    grid-template-rows:repeat(7, 1fr);
    box-shadow: 0 -3px rgba(0,0,0,0.1),0 3px rgba(0,0,0,0.1);
    border-top:2px lightgray;
    border-bottom: 2px lightgray;

    
    
}
.logos{
    height:30px;
    margin:20px;
    gap:20px;
    justify-content:space-evenly;
    
}